<footer class="center">
  <div class="measure">
    <div class="left">
      <small>
        &copy; {{ site.time | date:"%Y" }} <a class="button" href="{{ site.baseurl }}/about/">About Digital Signal Processing in Radio Astronomy</a>
      </small>
      <div class="boxsmall">
        <img src="{{ site.baseurl }}/images/gb.svg">
      </div>
      <div>
        <img src="{{ site.baseurl }}/images/nsf.svg">
      </div>
      <div>
        <img src="{{ site.baseurl }}/images/wvu.svg">
      </div>
      </div>
    </div>
    {% if site.show_social_icons %}
      {% include social_links.html %}
    {% endif %}
  </div>
</footer>
<script type="text/javascript">
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}")
    }
</script>
