<footer class="left">
  <div class="measure">
    <div class="left" style="width: 80%;">
      <small style="padding: 1%;">
        &copy;{{ site.time | date:"%Y" }}  &nbsp; &nbsp;  <a class="button" href="{{ site.baseurl }}/about/">About DSPIRA</a><a class="button" href="{{ site.baseurl }}/forum/">DSPIRA Forums</a><div style="padding: 2%; display: inline-block;"><div  style="float: left; width: 6%;"><img src="{{ site.baseurl }}/images/GBO.svg"></div><div  style="float: left; width: 5%;"><img src="{{ site.baseurl }}/images/nsf.svg"></div><div style="float: left; width: 20%;"><img src="{{ site.baseurl }}/images/wvu.svg"></div></div>
      </small>
    </div>
    {% if site.show_social_icons %}
      {% include social_links.html %}
    {% endif %}
  </div>
</footer>
<script type="text/javascript">
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}")
    }
</script>
