.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
}

.share-page {
  padding: $space-2 0;
}

.share-links a {
  margin: 0 0.2em;
}

.site-header a,
.social-icons a,
.share-links a {
  color: $header-color;
  font-size: $h3;
  font-weight: $header-font-weight;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
}

.site-header nav a {
  color: $nav-color;
  border: 1px solid black;
  padding: 6px 24px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: calc(0.5em + 0.08vw);
  margin-bottom: calc(0.5em + 0.08vw);
  margin-left: auto;
  margin-right: auto;
  font-size:1.25rem; // responsive size, but keep a minimum.
  padding-top: calc(0.5em + 0.08vw);
  padding-bottom: calc(0.5em + 0.08vw);
  padding-left: calc(0.5em + 0.08vw);
  padding-right: calc(0.5em + 0.08vw);
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active,
.site-header nav a.nav-active:hover,
.site-header nav a.nav-active:focus,
.site-header nav a.nav-active:active {
  color: $nav-link-color;
  opacity: 1;
  border: 2px solid mediumslateblue;
  padding: 6px 24px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: calc(0.5em + 0.08vw);
  margin-bottom: calc(0.5em + 0.08vw);
  margin-left: auto;
  margin-right: auto;
  font-size:1rem; // responsive size, but keep a minimum.
  padding-top: calc(0.5em + 0.08vw);
  padding-bottom: calc(0.5em + 0.08vw);
  padding-left: calc(0.5em + 0.08vw);
  padding-right: calc(0.5em + 0.08vw);
}

.site-header nav a.nav-active {
  border-bottom: $nav-active-border-bottom;
}


.site-nav a + a {
  margin-left: $nav-link-padding-x;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary,
.social-icons a:hover,
.share-links a:hover {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}

:root {
  font-size: calc(1vw + 1vh + .5vmin);
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Text styles */
  text-align: center;
  color: white; /* ADD THIS LINE */
  
  /* Background styles */
  background-image: url('../images/landing.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  /* Text styles */
  font-size: 2rem; // responsive size, but keep a minimum.
  margin-left: 1em;
  margin-right: 1em;
  
  /* Margins */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.hero h2 {
  /* Text styles */
  font-size: 1.5rem; // responsive size, but keep a minimum.
  margin-left: 1em;
  margin-right: 1em;
  
  /* Margins */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.hero h4 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 1.25rem; // responsive size, but keep a minimum.
}

.hero .btn {
  /* Positioning and sizing */
  display: inline-block;
  width: 250px;
  
  /* Padding and margins */

  margin-top: calc(0.5em + 0.08vw);
  margin-bottom: calc(0.5em + 0.08vw);
  margin-left: auto;
  margin-right: auto;
  font-size:1.25rem; // responsive size, but keep a minimum.
  padding-top: calc(0.5em + 0.08vw);
  padding-bottom: calc(0.5em + 0.08vw);
  padding-left: calc(0.5em + 0.08vw);
  padding-right: calc(0.5em + 0.08vw);
  
  /* Text styles */
  color: white; /* CHANGE THIS LINE */
  text-decoration: none;
  font-weight: bold;
  
  /* Border styles */
  border: 4px solid white; /* CHANGE THIS LINE */
  border-radius: 20px;
}

.hero .btn:hover { 
  background: rgba(255, 255, 255, 0.171);
  color: rgb(255, 255, 255);
  transition: all 0.5s ease-in;
   } 

.hero .btn-grad {
  /* Positioning and sizing */
  display: inline-block;
  width: auto;
  
  /* Padding and margins */

  margin-top: calc(0.5em + 0.08vw);
  margin-bottom: calc(0.5em + 0.08vw);
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem; // responsive size, but keep a minimum.
  padding-top: calc(0.5em + 0.08vw);
  padding-bottom: calc(0.5em + 0.08vw);
  padding-left: calc(0.5em + 0.08vw);
  padding-right: calc(0.5em + 0.08vw);
  
  /* Text styles */
  text-decoration: none;
  font-weight: bold;
  
  /* Border styles */
  border: 4px solid white; /* CHANGE THIS LINE */
  border-radius: 20px;
  background: #fff; /* fallback color for old browsers */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.4s ease-out;
}

.hero .btn-grad:hover { 
  background: #fff;
  color: #000;
  transition: all 0.5s ease-in;
   } 
