<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
{% include head.html %}


<body class="site{% if site.animated %} animated fade-in-down{% endif %}">
    <section class="hero">
        <div class="hero-inner" style="margin-top: 50px;">
            <h1>Digital Signal Processing in Radio Astronomy</h1>
            <h2>Lessons Portal</h2>
            <h4 class="measure">This website is a culmination of efforts to bring every aspect of Radio Astronomy to the classroom environment. This collection includes lessons and activities in Engineering and Astronomy appropriate from middle school students to citizen scientists</h4><br>
            <a href="{{ site.baseurl }}/tour/" class="btn-grad">Click to enter our Guided Tour</a><br>

            <div class="containing">
              <div class="imgs">
                <img src="{{ site.baseurl }}/images/gb.svg">
              </div>
              <div class="imgs">
                <img src="{{ site.baseurl }}/images/NSF.png">
              </div>
              <div class="imgswvu">
                <img src="{{ site.baseurl }}/images/wvu.svg">
              </div>
            </div>

<!--
            <div class="container">
                <div  style="float: left; width: 33%;">
                  <img src="{{ site.baseurl }}/images/gb.svg">
                </div>
                <div  style="float: left; width: 33%;">
                  <img src="{{ site.baseurl }}/images/nsf.svg">
                </div>
                <div style="float: left; width: 33%;">
                  <img src="{{ site.baseurl }}/images/wvu.svg">
                </div>
            </div>-->

        </div>
    </div>

</section>
</body>

  {% include footer.html %}
  {% include embeddedvideo.html %}
</body>
</html>
