---
layout: default
---

{% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <h1>{{ page.title }}</h1>
  <span class="post-meta">{{ page.date | date: site.date_format }} |</span>
  {% if page.update_date %}
    <span class="post-meta">{{ site.text.post.updated | default: "Updated" }}: {{ page.update_date | date: site.date_format }} |</span>
  {% endif %}
  <span class="post-meta small">
  {% if page.minutes %}
    {{ page.minutes }} {{ site.text.post.minute_read | default: "minute read" }}
  {% else %}
    {{ minutes }} {{ site.text.post.minute_read | default: "minute read" }}
  {% endif %}
  </span>
</div>

<article class="post-content">
  {{ content }}
</article>

{% if site.show_sharing_icons %}
  {% include share_buttons.html %}
{% endif %}

{% if site.show_post_footers %}
  {% include post_footer.html %}
{% endif %}


<div>
  {% if page.tags != null %}
    {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a class="button" href="/tags/{{ tag_name }}"> </a> 
    {% endfor %}
  {% endif %}
</div>


{% if site.show_related_posts %}
  <h3 class="related-post-title">{{ site.text.post.related_posts | default: "Related Posts" }}</h3>
  <ul class="related-posts">
    {% for post in site.related_posts %}
    <li>
      <a href="{{ post.url | relative_url }}" class="post-link">
          {{ post.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
{% endif %}



